#quote {
  background-image: url("../img/deckbg3.JPG");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  margin-bottom: 0;
  overflow: hidden;

  .quoteBlock {
    justify-content: center;
    display: flex;
    background: rgba(80, 36, 10, 0.383);
    height: 100%;
    padding-top: 125px;

    .textQuoteBlock {
      background-color: rgba(255, 255, 255, 0.883);
      box-shadow: inset 0 0.25rem 0.125rem 0 #434e62;
      width: 450px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: left;
      height: 475px;
      margin: 50px;
      .contactBlocks {
        margin-top: 1px;
        display: flex;
        flex-direction: column;
        color: #434e62;

        .contactBar {
          margin-left: 50px;
          display: flex;
          font-family: "MicroSquare";
          font-size: 1.5em;
          margin-bottom: 25px;
          width: 80%;

          .fb {
            cursor: pointer;
            padding: 10px 20px;
            color: white;
            font-size: 1em;
            border: white 1px solid;
            border-radius: 5px;
            background: rgba(8, 102, 179, 0.842);
            transition: 1s;
            font-family: "MicroSquare";
            margin: 15px auto;

            a {
              text-decoration: none;
              text-align: center;
              color: white;
            }
          }

          .fb:hover {
            background: rgba(69, 154, 224, 0.842);
            transition: 1s;
          }

          i {
            margin-right: 25px;
            font-size: 1.5em;
            margin-top: 5px;
            color: rgba(8, 102, 179, 0.842);
          }
        }
      }

      h1 {
        color: #434e62;
        font-family: "MicroSquare";
        margin: 50px auto;
      }
    }

    .quoteForm {
      background-color: rgba(255, 255, 255, 0.911);
      box-shadow: inset 0 0.25rem 0.125rem 0 #434e62;
      width: 450px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 475px;
      margin: 50px;

      h1 {
        color: #434e62;
        font-family: "MicroSquare";
      }

      input {
        width: 80%;
        margin-bottom: 20px;
        padding: 15px;
        background: transparent;
        color: #434e62;
        border: solid #434e62 1px;
        opacity: 0.9;
        outline: none;
        font-family: "Poppins", sans-serif;
      }

      input::placeholder {
        color: #434e62;
        font-family: "Poppins", sans-serif;
        transition: 0.8s;
      }

      input:hover::-webkit-input-placeholder {
        color: #434e62;
        font-size: 0.5em;
        transition: 0.8s;
      }

      textarea {
        width: 80%;
        margin-bottom: 20px;
        padding: 15px;
        background: transparent;
        color: #434e62;
        border: solid #434e62 1px;
        opacity: 0.9;
        outline: none;
        font-family: "Poppins", sans-serif;
        resize: none;
      }

      button {
        cursor: pointer;
        padding: 10px 20px;
        color: white;
        font-size: 1.2em;
        border: white 1px solid;
        border-radius: 5px;
        background: #434e62;
        transition: 1s;
        font-family: "MicroSquare";
      }

      button:hover {
        background: rgba(0, 140, 255, 0.842);
      }
    }

    #popUp {
      font-size: 1.5em;
      color: white;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 250px;
      height: 100px;
      border-radius: 10px;
      background-color: rgba(19, 224, 19, 0.774);
      font-family: "MicroSquare";
      z-index: 1;
      transition: 1s;
    }
  }
}
