.reviewsBg {
  background-color: rgb(29, 116, 138);
  margin: 0;
  padding: 0;
  position: relative;

  #invisReviewsMargin {
    border: solid rgba(0, 0, 0, 0.007) 2px;
    width: 1px;
    height: 1px;
    background-color: rgba(255, 0, 0, 0.007) (14, 14, 14);
    position: absolute;
    top: -125px;
  }

  #reviews {
    height: 500px;
    background-color: rgb(29, 116, 138);
    background: repeating-linear-gradient(
      135deg,
      #21252907,
      #21252905 5px,
      rgba(87, 44, 10, 0.007) 5px,
      rgba(0, 0, 0, 0) 10px
    );
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding-bottom: 50px;
    border-top: solid rgba(155, 178, 184, 0.801) 7px;
    border-bottom: solid rgba(155, 178, 184, 0.801) 7px;

    h2 {
      font-family: "MicroSquare";
      color: rgba(255, 255, 255, 0.829);
      text-align: left;
      margin-left: 125px;
      margin-top: 25px;
      margin-bottom: 0;
    }

    .reviewBlocks {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .wholeReview {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .reviewBlock {
          width: 280px;
          height: 280px;
          border: solid rgba(255, 255, 255, 0.788) 3px;
          border-radius: 3px;
          margin: 35px;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;

          i {
            color: rgba(255, 255, 255, 0.493);
            font-size: 2.6em;
          }

          .topLeft {
            position: absolute;
            top: 15px;
            left: 15px;
          }

          .bottomRight {
            position: absolute;
            bottom: 15px;
            right: 15px;
          }

          p {
            text-align: center;
            color: white;
            letter-spacing: 1.3px;
            font-size: 1em;
            padding: 10px;
          }
        }

        h3 {
          font-family: "MicroSquare";
          font-size: 1.4em;
          color: white;
          margin-top: -10px;
        }

        .fiveStars {
          margin-top: -15px;
          i {
            color: rgb(255, 227, 104);
            margin: 1px;
          }
        }
      }
    }
  }
}

//mobile
@media (max-width: 765px) {
  .reviewsBg {
    #reviews {
      display: flex;
      flex-direction: column;
      #customer {
        font-family: "MicroSquare";
        color: rgba(255, 255, 255, 0.829);
        margin-left: 0px;
        margin-top: 25px;
        margin-bottom: 0;
        text-align: center;
        font-size: 2em;
        padding: 5px;
      }
    }
  }
}
